{% extends 'base.jinja' %}

{% block title %}Formula 10 - Error{% endblock title %}

{% set active_page = "/error" %}

{% block body %}
    <div class="card shadow-sm mb-2">
        <div class="card-header">
            <span class="text-danger fw-bold">Error</span>
        </div>
        <div class="card-body">
            {{ error_message }}
        </div>
    </div>
{% endblock body %}
