.chart-container {
    width: 100%;
    height: 50vh;
}

@media only screen and (orientation: landscape) and (max-width: 900px) {
    .chart-container {
        width: 100%;
        height: 100vh;
    }
}