.card-grid {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-row-gap: 0;
    grid-column-gap: 8px;
}

@media only screen and (min-width: 470px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-row-gap: 0;
        grid-column-gap: 8px;
    }
}

.card-grid-2 {
    grid-template-columns: repeat(1, minmax(325px, 1fr));
    grid-row-gap: 0;
    grid-column-gap: 8px;
}

@media only screen and (min-width: 950px) {
    .card-grid-2 {
        grid-template-columns: repeat(2, minmax(450px, 1fr));
        grid-row-gap: 0;
        grid-column-gap: 8px;
    }
}